// Global styles and resets. Import variables and use them for base styles.
@import './variables.scss';

@font-face {
    font-family: 'LibreBaskerville';
    src: url('/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf')
        format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo/static/Heebo-Regular.ttf') format('truetype');
    font-weight: bold;
}

html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    font-weight: $body-font-weight;
    background: $color-bg;
    color: $color-text;
}
body {
    flex: 1 0 auto;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
button {
    cursor: pointer;
    color: $color-black;
    text-decoration: none;
}

h1,
h2 {
    margin: 0;
    line-height: $heading-line-height;
    font-family: $font-secondary;
    font-weight: $heading-font-weight;
}

h2 {
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: $body-font-weight;
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

button,
input {
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    background: none;
}

code {
    font-family: $font-code;
}
